<% -layout("/layouts/boilerplate")%>


    <div class="row ">
        <div class="col-8 offset-2">

            <h1>Create new list</h1>

            <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter title
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required></textarea>

                    <div class="invalid-feedback">
                        Please enter description
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label"><b style="color: crimson;"> Upload Image click on choose
                            file</b></label>
                    <input type="file" name="listing[image][url]" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="Enter Price" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter valid price
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Please enter valid country
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please enter valid location
                    </div>
                </div>
                <br>
                <br>
                <button class="btn btn-dark add-btn">Add</button>

                <br>
                <br>
            </form>
        </div>
    </div>