body {
    background-color: pink;

    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;

}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.f-info-socials i {
    font-size: 1.45rem;

    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: rgb(199, 196, 162);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body {
    padding: 0 !important;

}

.card-text {
    font-weight: 400 !important;
    margin-top: 1rem;
}

.listing-link {
    text-decoration: none !important;
}

.card-img-overlay {
    opacity: 0 !important;
}

.card-img-overlay:hover {
    opacity: 0.4 !important;
    background-color: white;
}

.add-btn {
    align-items: center;
    background-image: linear-gradient(#ce21a2);
    border-color: #0f077b !important;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: rgb(19, 18, 17) !important;
    font-weight: 600 !important;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

.add-btn:active,
.add-btn:hover {
    outline: 0;
}

.add-btn {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.add-btn:hover {
    background: none;
}

.add-btn:active {
    transform: scale(0.9);
}







.edit-btn {
    align-items: center;
    background-image: linear-gradient(144deg, #0cc4ab, #048ac4 50%, #580434);
    border: none;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    min-width: 120px;
    min-height: 44px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;

}

.edit-btn:active {
    transform: scale(0.9) !important;
}



.submit-btn {
    align-items: center;
    background-image: linear-gradient(#11e9af);
    border-color: #0f077b !important;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ac0f0f !important;
    font-weight: 600 !important;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

.submit-btn:active,
.submit-btn:hover {
    outline: 0;
}

.submit-btn {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.submit-btn:hover {
    background: none;
}

.submit-btn:active {
    transform: scale(0.9);
}











.show-img {
    width: 100%;
    height: 30vh;
}

.btns {
    display: flex;
    margin-bottom: 3rem;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}





.delete-btn {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg,
            var(--btn-bg-2) 0%,
            var(--btn-bg-1) 55%,
            var(--btn-bg-2) 90%);
    border: none !important;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow:
        0px 0px 20px rgba(71, 184, 255, 0.5),
        0px 5px 5px -1px rgba(58, 125, 233, 0.25),
        inset 4px 4px 8px rgba(175, 230, 255, 0.5),
        inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.delete-btn:hover {
    background-position: right top;
}

.delete-btn:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow:
        0 0 0 3px var(--btn-bg-color),
        0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
    .btn-donate {
        transition: linear;
    }
}



.review-btn {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: none !important;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    min-width: 120px;
    min-height: 44px;

    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.review-btn:active,
.review-btn:hover {
    outline: 0;
}

.review-btn {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    transition: 300ms;
}

.review-btn:hover {
    background: none;
}

.review-btn:active {
    transform: scale(0.9) !important;
}

.line {


    height: 2px;
    background-color: #ff0000;
    border: none;

}







/* btn delete review */
.btnreview {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    /* text-transform: uppercase; */
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #7d1212;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btnreview:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.btnreview:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.btnreview::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.btnreview:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

#map {
    height: 400px;
    width: 80vh;

}


